.app {
  display: flex;
  flex-direction: column;
}
.lower {
  display: flex;
}
.modes {
  display: flex;
  flex-direction: row;
}
.mode {
  padding: 5px;
  cursor: pointer;
}
.highlighted-mode {
  cursor: pointer;
  background-color: #F00;
  color: #000;
}
.main-panel {
  width: 75%;
}
.main-panel-share-button {
  order: 3;
}
.main-panel-delete-button {
  order: 2;
}
.main-panel-header-text {
  flex: 1;
  order: 1;
}
.main-panel-add-cert {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
}
.main-panel-header {
  display: flex;
  align-items: center;
}
.left-panel {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.header {
  display: flex;
  background-color: #9fc5f8;
}
.header-left {
  flex: 1;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.profile-container {
  display: flex;
  align-items: center;
  flex: 1;
}
