.rowtext {
  display: flex;
}
.categoryTitle {
  flex: 1;
}
.row {
  cursor: pointer;
}
.sharingDialogAddUser {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.sharingDialogUserEntry {
	display:flex;
	align-items: center;
}
.addUserError {
	color: #ff0000;
}
