.root {
  display: flex;
  padding: 15px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
  .left .typeIcon {
    width: 60px;
    height: 60px;
  }
  .left .label {
    font-size: 18px;
  }

.right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
  .right > .leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
    .right > .leftSide > .iconContainer {
      display: flex;
      align-items: center;
    }
      .right > .leftSide > .iconContainer > .nameIcon {
        width: 40px;
        height: 40px;
      }
      .right > .leftSide > .iconContainer > div {
        font-size: 24px;
      }
    .right > .leftSide > .updatedContainer {
      display: flex;
    }
    .updatedContainer > .time {
      margin-left: 5px;
    }
