.root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.root > .title {
  font-size: 20px;
  margin-top: 25px;
  margin-left: 15px;
}
.root > .options {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.manualUpload {
  font-size: 18px;
  text-decoration: underline;
  color: blue;
  margin-bottom: 35px;
  cursor: pointer;
}
.trellisContainer {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
  .urlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
  }
  .connect {
    border: 1px solid #000;
    cursor: pointer;
    padding: 7px;
  }
