.root {
  display: flex;
  padding: 15px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
  .left .typeIcon {
    width: 60px;
    height: 60px;
  }
  .left .label {
    font-size: 18px;
  }

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .right > .connectContainer {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
  }
    .right > .connectContainer > .label {
      font-size: 18px;
      margin-right: 7px;
    }
    .right > .connectContainer > .input {
      flex: 1;
      height: 22px;
      font-size: 16px;
      padding-left: 4px;
    }
  .right > .buttonsContainer {
    display: flex;
    align-items: center;
  }
  .right > .buttonsContainer > .button {
    flex: 1;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    text-align: center;
    cursor: pointer;
  }
  .right > .buttonsContainer > .button:hover {
    background-color: #cbcbcb;
  }
