.root {
  display: flex;
  flex-grow: 1;
}
.mainPanel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
  .mainPanel > .header {
    display: flex;
    align-items: center;
  }
    .mainPanel > .header > .title {
      font-size: 20px;
      flex: 1;
      margin-left: 7px;
    }
.leftPanel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 200px;
}
.certifications {
  overflow-y: scroll;
  flex: 1;
}
.tableRow {
  cursor: 'pointer';
  display: flex;
  justify-content: 'space-between';
  align-items: 'center';
}
