.app {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-width: 1000px;
}
.page {
  flex-grow: 1;
  display: flex;
}
.snackBar > div {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.snackBar > div > div {
  text-align: center;
}
