.rowtext {
  display: flex;
}
.category-title {
  flex: 1;
}
.row {
  cursor: pointer;
}
.add-client {
  cursor: pointer;
  display:flex;
  align-items: center;
}
.no-clients-error {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff0000;
	flex:1;
}
